@import url("../../global.css");

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;
	color: #260e63;
}

.container * {
	margin: 0.5em 0;
}

.container img {
	width: 150px;
	height: 200px;
}

.container button {
	width: 250px;
	height: 50px;

	color: #1a1a1a;
	background: hsl(186, 25%, 65%);
	font-weight: bold;
	font-size: 24px;
	border-radius: 3px;
	border: none;

	transition: 0.3s;
}

.container button:hover {
	transform: translate(0%, 5%) scale(1.05);
	cursor: pointer;
}

/* from style */
.content {
	height: 100%;
	width: 100%;
	margin: 40px;
	padding: 40px 40px 0 40px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.submit-button {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	padding: 10px 20px;
	border-radius: 30px;
	margin: 20px 0 0 0;
}

  
/* from style */

@media screen and (max-width: 400px) {
	.container h1 {
		font-size: x-large;
    }
    
	.container img {
		width: 200px;
		height: 200px;
    }
    
	.container button {
		width: 200px;
		height: 40px;

		font-size: 18px;
		border-radius: 10px;
	}
}
